.app-wrapper {
  position: relative;
  width: 375px; /* iPhone SE dimensions */
  height: 667px; /* iPhone SE dimensions */
  border: 5px solid $primary-color;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  background-color: white;
  overflow-y: scroll;
}
