.location-card {
  &--static {
    height: 95%;
    padding: 20px;
    background-size: cover;
    overflow-y: scroll;
  }
  &--pulled {
    position: absolute;
    width: 100%;
    top: 0;
    border: 3px solid $secondary-color;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-color: white;
    animation: appear 1s forwards;
  }
}

.disappear {
  animation: disappear 1s forwards;
}

.loading {
  @extend %center-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
